# APP CONFIGURATION
APP_PORT=3000

# DATABASE CONFIGURATION
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=iteacher
DB_USERNAME=postgres
DB_PASSWORD=postgres

# EMAIL CONFIGURATION
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_USERNAME=apikey
EMAIL_PASSWORD=SG.**********.**********
